In [1]:
#Example 1
#Print the given sequence of number using for loop
count = [10,20,30,40,50]
for num in count:
    print(num)

10
20
30
40
50

In [2]:
#Example 2
#Print multiple of 10 for numbers in a given range
for num in range(5):
    if num > 0:
        print(num * 10)

10
20
30
40

In [3]:
#Example 3
#Print first 5 natural number using while loop
count = 1
while count <= 5:
    print(count)
    count += 1

1
2
3
4
5

In [4]:
#Example 4
entry = 0
sum1 = 0
print("Enter number to find their sum, negative number ends the loop:")
while True:
    #int() typecasts string to integer
    entry = int(input())
    if (entry < 0):
        break
    sum1 += entry
    print("Sum =", sum1)

Enter number to find their sum, negative number ends the loop:
14
Sum = 14
5
Sum = 19
-3

In [5]:
#Example 5
num = 0
for num in range(6):
    num = num + 1
    if num == 3:
        continue
    print('Num has value ' + str(num))
print('End of loop')

Num has value 1
Num has value 2
Num has value 4
Num has value 5
Num has value 6
End of loop

In [7]:
#Example 6
for var1 in range(3):
    print( "Iteration " + str(var1 + 1) + " of outer loop")
    for var2 in range(2): #nested loop
        print(var2 + 1)
    print("Out of inner loop")
print("Out of outer loop")

Iteration 1 of outer loop
1
2
Out of inner loop
Iteration 2 of outer loop
1
2
Out of inner loop
Iteration 3 of outer loop
1
2
Out of inner loop
Out of outer loop

In [8]:
# Python program to swap two cities

# To take inputs from the user
city_1 = input('Enter name of city 1: ')
city_2 = input('Enter name of city 2: ')

# create a temporary variable and swap the cities
temp = city_1
city_1 = city_2
city_2 = temp

print(f"The name of city 1 after swapping is {city_1}")
print(f"The name of city 2 after swapping is {city_2}")

Enter name of city 1: lagos
Enter name of city 2: New york
The name of city 1 after swapping is New york
The name of city 2 after swapping is lagos

In [9]:
# Program to check if a Number is a positive, negative or 0

num = float(input("Enter a number: "))
if num > 0:
    print("positive numbers")
elif num == 0:
    print("Zero")
else:
    print("Negative number")

Enter a number: 5
positive numbers

In [11]:
# COUPE DE ESCRIVA 2023: FOOTBALL PICKS

print("Welcome to the COUPE DE ESCRIVA 2023: FOOTBALL PICKS \n")

captain = {'Madiba: ': 'Chubby obiora-okafo', 'Blue-jays: ': 'Christopher uweh',
            'Cirok: ': 'Alexander', 'TSG Walkers: ': 'Ikechukwu'}

goalkeepers = {'Madiba: ': 'chubby obiora-okafo',
                'Blue-jays: ': 'Oladimeji Abaniwondea/Jeffery Awagu',
                'Cirok: ': 'Timileyin pearse/Izuako Jeremy',
                 'TSG Walkers: ': 'Ayomide ojikutu'}
for pick in captain:
    print(pick, captain[pick])

print("\n")

for pick in goalkeepers:
    print(pick,goalkeepers[pick])

Welcome to the COUPE DE ESCRIVA 2023: FOOTBALL PICKS

Madiba:  Chubby obiora-okafo
Blue-jays:  Christopher uweh
Cirok:  Alexander
TSG Walkers:  Ikechukwu


Madiba:  chubby obiora-okafo
Blue-jays:  Oladimeji Abaniwondea/Jeffery Awagu
Cirok:  Timileyin pearse/Izuako Jeremy
TSG Walkers:  Ayomide ojikutu